@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit";
    text-align: center;
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.39) 46%, rgba(250, 230, 231, 1) 100%);
}

.status-bar {
    font-size: 25px;
    margin-top: 15px;
    animation: floating 1.5s infinite ease-in-out;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 17px;
    border-radius: 13px;
    box-shadow: 0 0 15px rgba(255, 135, 185, 0.7);
    width: fit-content;
    margin: 20px auto;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(5, 90px);
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #be279184;
    border: 2px solid #752a5a;
    border-radius: 8px;

    font-size: 55px;
    color:#174C6D;
}

.playable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,0) 0%, rgba(255,233,243,1) 100%);
    border: 2px solid #5f2a46;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    font-size: 55px;
    color:#3e1c2f;
}
.playable:hover {
    background: #5F2A46;
    background: radial-gradient(circle,rgba(95, 42, 70, 0.8) 0%, rgba(255, 143, 167, 0.701) 100%);
    transform: scale(0.95);
    color:rgb(255, 230, 249);
}



@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

.selected .symbol {
    animation: floating 1.5s infinite ease-in-out;
}



.arrows-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f2a46cf;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 135, 185, 0.7);
}

.arrows-grid {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 10px;
    place-items: center;
}

.arrow {
    width: 60px;
    height: 60px;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, transform 0.1s;
}
.arrow:hover {
    background-color: transparent;
    color: rgba(255, 135, 185, 0.7);
}
.arrow:active {
    background-color: transparent;
    color: rgb(255, 190, 240);
    transform: scale(0.95);
}

.up-arrow {
    grid-column: 2;
    grid-row: 1;
}
.left-arrow {
    grid-column: 1;
    grid-row: 2;
}
.right-arrow {
    grid-column: 3;
    grid-row: 2;
}
.down-arrow {
    grid-column: 2;
    grid-row: 3;
}



.controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    align-items: center;
    z-index: 10;
    padding: 25px;
    background-color: #5f2a46cf;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 135, 185, 0.7);
}

.btn {
    background-color: rgba(255, 135, 185, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, transform 0.1s;
}
.btn:hover {
    background-color: #ddffd4;
    color: #174C6D;
}
.btn:active {
    background-color: rgb(255, 190, 240);
    color: #174C6D;
    transform: scale(0.95);
}

.timer {
    font-size: 45px;
    color: #174C6D;
    text-align: center;
}